{% extends "base.html" %}
{% block title %}Proposed plan and the alternate plan{% endblock %}
{% block page_title%}Proposed plan and the alternate plan{% endblock %}
{% block next_page_link %}"/study/explanation"{% endblock %}
{% block next_button_text %}Explain why the alternate plan is more costly?{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plan_and_foil.css') }}" />
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6 text-center" style="max-height: 75vh;">
            <p class="foil_text_bold foil_text">
                Click anywhere on the video below to view the proposed plan:
            </p>
            <p class="foil_text">
                Plan goal: {{ plan_goal }}
            </p>
            <video controls id="plan_display">
              <source src="{{ plan_video_loc }}" type="video/mp4">
            </video>
        </div>
        <div class="col-lg-6 text-center" id="foil_container" style="max-height: 75vh;">
            <img src="{{ foil_image_loc }}" id="foil_image"  alt="...">
            <p class="foil_text mt-5">
                <span class="foil_text_bold">Alternate plan suggested by the user: </span>{{ foil_text }}
            </p>
        </div>
    </div>
{% endblock %}
{% block page_navigator %}
    <div class="row">
            <div class="col text-center mt-5">
                <a href="/study/explanation">
                    <button class="btn btn-primary">Explain why the alternate plan is more costly?</button>
                </a>
            </div>
    </div>
{% endblock %}